#-----------------------------------------------------#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

# CI_ENVIRONMENT = production
# CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.siteName="Online Test Portal"
app.baseURL = 'http://app-base-url.com'

#auto_save_intervl is time on which interval site will send solved question to server
#   if auto_save_intervl is 10 minutes then site will send data anytime between 10 to 15 minutes
auto_save_interval=600             #in second



# User Verification status on signup (Value may be 1 or 0)
default_isVerified=1


googleClientID='xxxxxxxxxxxxxxxxx YOUR GOOGLE CLIENT ID xxxxxxxxxxxxxxxxx'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = test_portal_test
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi


#--------------------------------------------------------------------
# Email Configuration
#--------------------------------------------------------------------
smtp_host="SMTP_HOST_ID"
smtp_user="SMTP_USER"
smtp_pass="XXXXXXXXXXXXXXXXXXXXXXXXXX"
smtp_port=587
smtp_from="SMTP_USERNAME"